body {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	margin: 0 auto;
	font-family: "Courier New", Courier, monospace;
	background-color: #afbdd3;
}

#summary, #currencies {
	text-align: left;
	background-color: darkgrey;
	display: inline-block;
	border-radius: 5px;
	width: inherit;
}

.cryptoTitle {
	font-style: italic;
	margin-top: 1%;
	margin-bottom: 3%;
	float: top;
}

.cryptocurrency {
	overflow: auto;
	font-size: 14px;
	float: left;
	background-color: lightgrey;
	padding-top: 2px;
	margin: 1%;
	float: left;
	width: 31.3%;
	border-radius: 5px;
	text-indent: 10px;
	box-shadow: 2px 2px 2px #777777;
}

.one, .two, .three {
	font-size: 14px;
	overflow: hidden;
	background-color: lightgrey;
	padding-top: 2px;
	margin: 1%;
	float: left;
	width: 31.3%;
	border-radius: 5px;
	text-indent: 10px;
	box-shadow: 2px 2px 2px #777777;
}

#currenciesLeft {
	overflow: auto;
	float: left;
	border-right: 1px solid #000000;
	width: 55%;
}

#currenciesRight {
	text-align: right;
	overflow: auto;
	width: 41%;
	float: left;
}

#disclaimer {
	font-style: italic;
	font-size: 14px;
	text-align: left;
}


/*		<div id="currencies">
			Bitcoin
			<div id="currenciesLeft">
				<div class="currentPrice">Price: </div>
				<div class="losses">Losses: </div>
				<div class="gains">Gains: </div>
				<div class="invested">Invested: </div>
				<div class="advice">Advice: </div>
			</div>
			<div id="currenciesRight">
				<div id="currentPrice">£0.00 </div>
				<div id="losses">£0.00 </div>
				<div id="gains">£0.00 </div>
				<div id="invested">£0.00 </div>
				<div id="advice">Buy 20% </div>
			</div>
		</div>*/

/*.money1, .money2, .money3 {
	font-size: 14px;
	font-style: italic;
	overflow: hidden;
	background-color: lightgrey;
	padding-top: 2px;
	margin: 1%;
	float: left;
	width: 31.3%;
	border-radius: 5px;
	text-indent: 10px;
	box-shadow: 2px 2px 2px #777777;
	height: 200px;
}*/